* {
    background-color: black;
    color: white;
    text-align: center;
}
#textBox {
    font-size: 1.5rem;
    width: 80%;
    
    min-height: 250px;
    border: 5px blue solid;
    padding-top: 10px;
}
#btn {
    width: 50%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 10px;
    background-color: blue;
    font-size: 2rem;
    border: 5px blue solid;
}
#btn:hover {
    background-color: darkblue;
    border: 10px lightblue solid;
}

#frequencyTable {
    width: 40%;
    margin: auto;
    border: 1px blue solid;
    margin-top: 30px;
}